.toolbar {
    display: flex;
    align-items: center;
    // transform: translateY(10px);
    justify-content: flex-start;
    gap: 10px;
    justify-content: space-between;
    width: 100%;
    padding: 13px 28px;
    height: 48px;
    position: relative;
}
.toolbar-item {
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 29px;
    width: 27px;
    &:hover {
        background-color: #e1e1e1;
    }
}
.toolbar-item-box {
    display: flex;
    flex-direction: column;
    font-size: 11px;
    align-items: center;
    justify-content: center;
    padding: 4px 4px;
    &:hover {
        background-color: #e1e1e1;
        border-radius: 11px;
    }
}

.popup {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 100;
    padding: 8px 22px;
    gap: 20px;
    width: fit-content;
}