.toolbar-left-item {
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 29px;
    width: 27px;
    @media (hover: hover) and (pointer: fine) {
        &:hover {
            background-color: #e1e1e1;
            border-radius: 11px;
        }
    }
}
.toolbar-left-item-box {
    display: flex;
    flex-direction: column;
    font-size: 11px;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    border-radius: 11px;
        justify-content: space-between;
    @media (hover: hover) and (pointer: fine) {
        &:hover {
            background-color: rgba(111, 51, 147, 0.1);
        }
    }
}
.toolbar-left {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 48px;
    gap: 1vw;
}
.flat-color-scheme-dark {
    .toolbar-left-item-box {
        @media (hover: hover) and (pointer: fine) {
            &:hover {
                background-color: rgba(227, 224, 229, 0.2);
            }
        }
    }
}
