.homepage-layout-horizontal-container {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    // border: 2px solid red;

}

.homepage-layout-horizontal-content {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
    justify-content: space-between;
    overflow: hidden;
}

.homepage-layout-main-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.homepage-layout-main-menu-heading{
    font-size: 24px;
    color: #6F3393;
    font-weight: 800;
    text-align: center;
}
.homepage-layout-main-menu-subheading{
    font-size: 16px;
    font-weight: 700;
    color: #6F3393;
    text-align: center;
}
.room-not-begin-modal {
    .ant-modal-title {
        text-align: center;
    }

    .ant-modal-header {
        border-bottom: 1px solid var(--grey-1);

        .flat-color-scheme-dark & {
            border-bottom-color: var(--grey-8);
        }
    }

    .ant-modal-footer {
        border-top-width: 0;
    }
}

.room-not-begin-early-minutes {
    font-style: normal;
    color: var(--primary);
    padding: 0 .25em;
}

.homepage-layout-horizontal-header {
    display: flex;
    gap: 16px;
    position: relative;
    margin-left: 10px;
    width: fit-content;
}

.homepage-layout-horizontal-header-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    color: #6F3393;
    line-height: 16px;
    position: relative;
    margin-bottom: 5px;
}
.homepage-layout-horizontal-header-slider-bg{
    position: absolute;
    bottom: 0;
    height: 3px;
    background-color: rgba(121, 116, 126, 0.4);
    width: 90%;
    left: 10px;
    // width: 200px;
    
}

.homepage-layout-horizontal-header-slider {
    position: absolute;
    bottom: 0;
    height: 3px;
    background-color: #6F3393;
    width: 45%;
    left: 10px;
    transition: all 0.3s ease-in-out;
    z-index: 10;
}

.homepage-layout-horizontal-header-slider[data-active="library"] {
    left: 50%;
}

.homepage-layout-footer-illustration{
    
    bottom: 20px;
    left: 50px;
    position: absolute;
}
.homepage-layout-left-illustration{
    top: 15%;
    right: 0;
    // right: -10px;
    position: fixed;
    // height: 200px;
}